@media screen and (min-width: 550px) {
  .container {
    max-width: 1079px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }

  #showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
  }

  #showcase:before {
    content: "";
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  #showcase h1 {
    font-size: 5rem;
  }

  #showcase p {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .btn {
    display: inline-block;
    border: none;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
    border-radius: 5%;
  }

  .btn:hover {
    opacity: 0.7;
  }

  #showcase h1 {
    font-family: "Libre Barcode 128 Text";
    font-size: 15vw;
    margin-bottom: 1.5rem;
  }

  #showcase p {
    font-size: 2.5vw;
    margin-bottom: 1rem;
  }

  /* Header */
  .header {
    height: 100vh;
  }

  .benefits-header {
    background: grey;
    background-image: url(https://images.unsplash.com/photo-1549145159-2f1242ce0975?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Highlight */
  .highlight-container {
    max-width: 85%;
  }
  #highlight .row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 10px;
  }

  .box-1,
  .box-2 {
    padding: 20px;
    text-align: center;
  }

  #highlight h2 {
    font-size: 3rem;
  }

  #highlight i {
    font-size: 3rem;
  }

  #highlight p {
    font-size: 1.75rem;
  }

  /* Benefits */
  .benefits-container {
    max-width: 85%;
  }

  .items-benefit {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 10px;
  }

  #benefits h2 {
    font-size: 3rem;
  }

  #benefits i {
    font-size: 3rem;
    margin-top: 1rem;
  }

  #benefits h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  #benefits p {
    font-size: 1.25rem;
  }

  .form-box {
    max-width: 85%;
    border: none;
  }

  .footer-container {
    max-width: 85%;
  }
  .hline {
    display: none;
  }
  #footer p {
    font-size: 1.5rem;
  }
  #footer .madeby {
    font-size: 0.85rem;
  }
}
